/* Style général */
.checkout-wrapper {
  background: #fafafa;
  font-family: 'Inter', sans-serif;
  padding: 20px;
  color: #333;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.checkout-left,
.checkout-right {
  background: #fff;
  padding: 20px;
 
  margin-bottom: 10px;
  border-radius: 20px;
}

/* Image à droite */
.summary-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;

  margin-bottom: 1px;
}

/* Titres */
h1 {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: 600;
}

.section-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: #FF385C;
}

/* Champs */
input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #eee;
  background: #fff;
}

textarea {
  resize: none;
}

.btn-submit {
  width: 100%;
  padding: 14px;
  background: #FF385C;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-submit:hover {
  background: #e03652;
}

.cancel-link {
  display: block;
  margin-top: 10px;
  color: #FF385C;
  text-align: center;
  text-decoration: underline;
}

/* Infos prix */
.price-detail {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 10px;
  font-size: 14px;
}

.free-cancel {
  font-size: 13px;
  color: #555;
  margin-top: 5px;
}

/* Responsive PC */
@media screen and (min-width: 768px) {
  .checkout-wrapper {
    flex-direction: row;
  }

  .checkout-left,
  .checkout-right {
    flex: 1;
  }

  .checkout-left {
    margin-right: 20px;
  }
}

.section.warning {
  background-color: #fff0f1;
  border-left: 5px solid #FF385C;
  padding: 20px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #C4002F;
  margin-bottom: 20px;
}

.section.warning ul {
  margin-top: 10px;
  padding-left: 20px;
  list-style: disc;
}

.section.warning strong {
  color: #C4002F;
}




@media (max-width: 600px) {

    .checkout-wrapper {
   
    
    }
    .checkout-right,
  .checkout-left,
  .checkout-left {
    flex: 1;
  }

  .checkout-left {
    margin-right: 20px;
  }
    
}

.overlay-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 4px solid #ff385c;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
